h1{
    color:blue;
    font-size:50px;
    padding:50px;
    font-weight:600;
}
nav{
    color:aquamarine;
    font-size;50px;
    padding:50px;
    font weight:500;
}
footer{
    color:green;
    font-size:90px;
    padding:50px;
    font-weight:900;
}
.n{
    color:brown
}
